# files we do NOT want in git.

# the Vagrant VM
.vagrant/

# python files
**/__pycache__/
aa.pyc

# copy local_vars.example.yml to:
local_vars.yml

gitignore/
runner-output/artifacts/*

# VS Code ignore
.vscode/*
# do not ignore:
!.vscode/settings.json
!.vscode/tasks.json

# MacOS files
.DS_Store
.DS_Store?
.Trashes
.Spotlight-V100
# Thumbnails
._*

# KDE
.directory

# Windows
Desktop.ini
*.lnk
