# files we do NOT want in git.

# the Vagrant VM
.vagrant/

# python files
**/__pycache__/
*.pyc
.pytest_cache/

# copy aa-custom_vars.example.yml to aa-custom_vars.yml:
aa-custom_vars.*

gitignore/*
runner-output/artifacts/*

# VS Code ignore
.vscode/*
# do not ignore:
!.vscode/settings.json
!.vscode/tasks.json

# nodejs
node_modules/

# MacOS files
.DS_Store
.DS_Store?
.Trashes
.Spotlight-V100
# Thumbnails
._*

# KDE
.directory

# Windows
Desktop.ini
*.lnk
