# files we do NOT want in git.

# ignore what is in this dir (keep local conf here)
local_file/*
!local_file/.gitkeep

logs/*.log
iso/*.iso
iso/*.lock
iso/*.checksum

# Vagrant and packer
temp/
output-centos6
packer_cache/
boxes/manifest.json
boxes/*.lock
boxes/*.box
boxes/*.checksum
.vagrant/

# python files
**/__pycache__/
*.pyc
.pytest_cache/

# VS Code ignore
.vscode/*
# do not ignore:
!.vscode/settings.json
!.vscode/tasks.json

# MacOS files
.DS_Store
.DS_Store?
.Trashes
.Spotlight-V100
# Thumbnails
._*

# KDE
.directory

# Windows
Desktop.ini
*.lnk
