#
# The tools/libs we want from The Python Package Index (PyPI).
# PyPI is hosted by the Python Software Foundation (psf).
#
invoke
ansible
ansible-runner
ansible-lint
molecule
pytest
testinfra
redis
docker
dnspython